body {
    font-family: "Roboto", sans-serif;
    background-image: url('/asset/images/image4.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bolder;
}

main {
    width: 100%;
    background-color: rgba(185, 159, 137, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
}

td,
th {
    border: 1px solid;

}

select {
    margin: 0.5%;
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    font-size: x-large;

}


input {
    margin: 2% 1%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    font-size: x-large;

}

label {
    text-align: left;
    font-weight: bold;
}


.expenses-bottom-display {
    width: 80%;
}

#expenses-category,
#expenses-limit-category {
    width: 150px;
}

#expenses-amount,
#expenses-limit-amount {
    width: 100px;
}



/* responsive */

@media only screen and (min-width: 1282px) {

    main {
        font-size: xx-large;
    }

    #expenses-category,
    #expenses-limit-category {
        width: 200px;
        height: 45px;

    }

    #expenses-amount,
    #expenses-limit-amount {
        width: 150px;
        height: 25px;
    }

}

@media only screen and (min-width:769px) and (max-width:1281px) {
    body {
        background-size: cover;
    }

    main {
        font-size: xx-large;
    }

    .add-expenses-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 30%;
    }

    input {
        margin: 2% 0%;
        width: 150px;
    }

    .btn {
        margin-left: 0;
        margin-bottom: 5%;
    }
}


@media only screen and (max-width:768px) {

    main {
        background-color: rgba(185, 159, 137, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: normal;
        align-items: center;
        width: 100%;
        font-size: large;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 30%;
    }

    input {
        margin: 2% 0%;
        width: 150px;
    }

    .btn {
        margin-left: 0;
        margin-bottom: 5%;
    }

    .idate {
        display: none;
    }
}