body {
    font-family: "Roboto", sans-serif;
    background-image: url('/asset/images/image1.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bolder;
}

main {
    width: 100%;
    background-color: rgba(185, 159, 137, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
}

section {
    flex-grow: 2;
    width: 85%;
    margin-top: 2%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


#income-amount {
    width: 15px;
}

td,
th {
    border: 1px solid;
    font-weight: bolder;
}


select {
    margin: 0.5%;
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    font-size: x-large;
}


input {
    margin: 2% 1%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    font-size: x-large;
}

#income-category {
    width: 150px;
}

#income-amount {
    width: 100px;
}

label {
    text-align: left;
    font-weight: bold;
}

.income-bottom-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}


/* responsive */

@media only screen and (min-width: 1282px) {
    main {
        font-size: xx-large;
    }

    section {
        margin-bottom: 20%;
    }
}

@media only screen and (min-width:769px) and (max-width:1281px) {
    main {
        font-size: xx-large;
    }

    .add-income-display {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 30%;
    }

    input {
        margin: 2% 0%;
        width: 150px;
    }


    section {
        margin-bottom: 20%;
        margin-top: 4%;
    }

}


@media only screen and (max-width:768px) {
    body {
        background-size: cover;
    }

    main {
        background-color: rgba(185, 159, 137, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: normal;
        align-items: center;
        width: 100%;
        font-size: large;
    }

    section {
        margin-bottom: 20%;
    }


    .form-group {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 30%;
    }

    input {
        margin: 2% 0%;
        width: 150px;
    }
}