body {
    font-family: "Roboto", sans-serif;
    background-image: url('/asset/images/image3.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bolder;
}

main {
    width: 100%;
    background-color: rgba(185, 159, 137, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
}

section {
    flex-grow: 2;
    width: 85%;
    margin-top: 2%;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

h5 {
    color: rgba(0, 0, 0, 0.500)
}

h5 span {
    color: black;
}

.dashboard-top-display {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    width: 85%;
}

.dashboard-bottom-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.summary {
    width: 30%;
}

td,
th {
    border: 1px solid;
}





/* responsive */

@media only screen and (min-width: 1282px) {
    main {
        font-size: xx-large;
    }

    section {
        margin-bottom: 20%;
    }
}

@media only screen and (min-width:769px) and (max-width:1281px) {
    main {
        font-size: xx-large;
    }

    .dashboard-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dashboard-top-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .summary {
        width: 100%;
    }

    .summary-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    section {
        margin-bottom: 20%;
    }

}


@media only screen and (max-width:768px) {
    body {
        background-size: cover;
    }

    main {
        background-color: rgba(185, 159, 137, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: normal;
        align-items: center;
        width: 100%;
        font-size: large;
    }


    .dashboard-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dashboard-top-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section {
        margin-bottom: 30%;
    }

}